body {
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 30px;
}

.tile-holder {
  width: 616px;
  height: 88px;
  background: white;
  margin: 10px auto;
  border: 4px solid #222;
  border-radius: 5px;
  padding: 4px;
}

.tile {
  background: #F5E6CB;
  height: 80px;
  line-height: 80px;
  width: 80px;
  float: left;
  border-radius: 5px;
  border: 4px solid #222;
  text-align: center;
  font-size: 45px;
  position: relative;
}

.points {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  text-align: right;
}

.btn {
  background: #222;
  border-radius: 5px;
  color: white;
  width: 200px;
  padding: 10px 20px;
  margin: 0 auto;
  border: 4px solid #222;
  
}

.btn:hover {
  background: white;
  color: black;
}