h1{
  height: 100px;
  vertical-align: center;
  text-align: center;
}

body{

  background-color: maroon;
}

.upper-box{
  width: 300px
  display: inline-block;
  border: solid;
}
#displayWindow{
  height: 100px;
  width:100px;
  background:white;
  border: 1px solid #000;
}


.alphabet-square{
  height: 100px;
  width: 100px;
  float: left;
  background: white;
  border: 1px solid #000;
}

button {
  display: block;
  float: left;
  height:50px;
  width:100px;
  
}

.player-square{
  height: 100px;
  width: 100px;
  float: left;
  background: white;
  border: 1px solid #000;
}

